header{
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/Bg.png);*/
  background-image: url(./assets/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff;
  clip-path: ellipse(100% 60% at 50% 40%);
}

.navbar, .capsules-container{
  width: 80%;
  margin: auto;
  margin-top: 3em;
}

button{
  background-color: #B85C38;
}

.capsule-container{
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: auto;
  margin-bottom: 2em;
  background-color: #E0C097;
}

.capsule-container:hover{
  border: 2px solid #B85C38;
}

input{
  width: 50%;
  margin: auto;
}

.modal{
  z-index: 99999;
  background-color: #B85C38;
  width: 50%;
  height: 300px;
  max-height: 100%;
  top: 48em;
}

.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 40%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    cursor: pointer;
    color: #B85C38;
}

footer{
  background-color: #B85C38;
  color: #ffff;
}

/* mobile view */
@media screen and (max-width: 768px) {

  .desktop-nav, .btn1{
    display: none;
  }

  header{
    clip-path: ellipse(100% 60% at 40% 30%);
  }

  .mobilenav{
    background-color: #E0C097;
    position: absolute;
    top: 5em;
    left: 1em;
    width: 80%;
    height: 100vh;
  }


  input, .pagination{
    width: 80%;
  }

  .capsules-container{
    width: 90%;
  }

  .capsule-container{
    width: 45%;
    text-align: center;
  }

  .foottop > h1{
    margin-bottom: 1em;
  }
  
}